<style>
  body, html { margin: 0; padding: 0; box-sizing: border-box; font-family:
  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  Geneva, Verdana, sans-serif;} .container { width: 100%; padding: 10px; }
  .header { text-align: center;} .header span { color: rgb(218, 6, 6)} table
  {width: 97%; border-collapse: collapse; text-transform: uppercase;} table tr
  th { border: 1px solid #000; text-align: left; padding: 5px 8px; font-size:
  12px; font-weight: normal;} .sub-title { text-align: center; height: 20px;
  width: 97%; background-color: red;}
</style>

<html>
  <body>
    <div class="container">
      <div class="header">
        <h2> STAT<span>LAB</span> DIAGNOSTIC LABORATORY</h2>
        <h5>Lor lin Bldg. 172-D Corner Magsaysay St. and Lizares St. Zone 6.
          Talisay City, Neg. Occ.. Phil. 6115
        </h5>
        <h5>PHONE NOS. 09568255620 / 09128677606 GMAIL: statlabtalisay@gmail.com
          FB PAGE: STAT LAB
        </h5>
      </div>
      <div class="content-detail">
        <table>
          <thead>
            <tr>
              <th style="width: 150px;">PATIENT NAME: </th>
              <th style="width: 300px;">
                {{data.test.patient.last_name}},
                {{data.test.patient.first_name}}
                {{data.test.patient.middle_name}}</th>
              <th style="width: 70px;">SEX: </th>
              <th>{{data.test.patient.sex}}</th>
            </tr>
            <tr>
              <th style="width: 150px;">ADDRESS: </th>
              <th style="width: 300px;">
                {{data.test.patient.address}}</th>
              <th style="width: 70px;">Date: </th>
              <th>{{dateFormat data.createdAt "LLL"}}</th>
            </tr>
            <tr>
              <th style="width: 150px;">PHYSICIAN: </th>
              <th style="width: 300px;">
                {{data.physician}}</th>
              <th style="width: 70px;">LAB NO: </th>
              <th>{{data.lab_no}}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="sub-title">
        <h4>HEMATOLOGY</h4>
      </div>
      <div class="content-test-result" style="margin-top: 20px;">
        <table>
          <thead>
            <tr>
              <th style="width: 200px">TEST REQUESTED</th>
              <th colspan="3" style="text-align: center;"> CBC PLATELET</th>
            </tr>
            <tr>
              <th></th>
              <th style="text-align: center; width: 100px">
                RESULT</th>
              <th style="text-align:center; width: 70px;">UNIT </th>
              <th style="text-align:center;">NORMAL VALUES</th>
            </tr>
            <tr>
              <th rowspan="2">HEMOGLOBIN </th>
              <th style="text-align:center;" rowspan="2">
                {{data.hemoglobin}}
              </th>
              <th style="text-align:center;" rowspan="2"> g / L</th>
              <th rowspan="1" style="text-align:center;">M 130-180</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center;">F 120-160</th>
            </tr>

            <tr>
              <th rowspan="2">HEMATOCRIT </th>
              <th style="text-align:center;" rowspan="2">
                {{data.hematocrit}}
              </th>
              <th style="text-align:center;" rowspan="2"> L / L</th>
              <th rowspan="1" style="text-align:center;">M 0.40-0.54</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center;">F 0.37-0.47</th>
            </tr>

            <tr>
              <th rowspan="2">RBC COUNT </th>
              <th style="text-align:center;" rowspan="2">
                {{data.rbc_count}}
              </th>
              <th style=" text-align:center;" rowspan="2">
                x10
                <sup>12</sup>
                / L</th>
              <th rowspan="1" style="text-align:center;">M 4.5-6.2</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center;">F 4.2-5.5</th>
            </tr>

            <tr>
              <th>WBC COUNT </th>
              <th style="text-align:center;">
                {{data.wbc_count}}</th>
              <th style="text-align:center;">x10 <sup>9</sup> / L</th>
              <th style="text-align:center;">4.5-10.0</th>
            </tr>
            <tr>
              <th>PLATELET COUNT </th>
              <th style="text-align:center;">
                {{data.platelet_count}}</th>
              <th style="text-align:center;">x10 <sup>9</sup> / L</th>
              <th style="text-align:center;">150-450</th>
            </tr>
            <tr>
              <th>MCV </th>
              <th style="text-align:center;">
                {{data.mcv}}</th>
              <th style="text-align:center;">fl</th>
              <th style="text-align:center;">80.0 - 96.0</th>
            </tr>
            <tr>
              <th>MCH </th>
              <th style="text-align:center;">
                {{data.mch}}</th>
              <th style="text-align:center;">pg</th>
              <th style="text-align:center;">26.0 - 33.0</th>
            </tr>
            <tr>
              <th>MCHC </th>
              <th style="text-align:center;">
                {{data.mchc}}</th>
              <th style="text-align:center;">g / dl</th>
              <th style="text-align:center;">32.0 - 38.0</th>
            </tr>
            <tr>
              <th>RDW-CV </th>
              <th style="text-align:center;">
                {{data.rdw_cv}}</th>
              <th style="text-align:center;">%</th>
              <th style="text-align:center;">11.8 - 14.5</th>
            </tr>
            <tr>
              <th>MPV </th>
              <th style="text-align:center;">
                {{data.mpv}}</th>
              <th style="text-align:center;">fl</th>
              <th style="text-align:center;">7.5 - 11.5</th>
            </tr>
            <tr>
              <th>PDW </th>
              <th style="text-align:center;">
                {{data.pdw}}</th>
              <th style="text-align:center;">fl</th>
              <th style="text-align:center;">9.0 - 17.0</th>
            </tr>
          </thead>
        </table>
      </div>
      <div>
        <h5>DIFFERENTIAL COUNT</h5>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th style="width: 200px;">NEUTROPHIL </th>
              <th style="text-align: center; width: 100px">
                {{data.neutrophil}}
              </th>
              <th style="width: 70px; text-align: center"> %</th>
              <th style="text-align: center">55-65</th>
            </tr>

            <tr>
              <th>SEGMENTED </th>
              <th style="text-align: center">
                {{data.segmented}}
              </th>
              <th style="text-align: center"> %</th>
              <th style="text-align: center">50-60</th>
            </tr>

            <tr>
              <th>STAB </th>
              <th style="text-align: center">
                {{data.stab}}
              </th>
              <th style="text-align: center"> %</th>
              <th style="text-align: center">0-5</th>
            </tr>

            <tr>
              <th>LYMPHOCYTIES </th>
              <th style="text-align: center">
                {{data.lymphocyties}}</th>
              <th style="text-align: center">%</th>
              <th style="text-align: center">25-35</th>
            </tr>
            <tr>
              <th>MONOCYTIES </th>
              <th style="text-align: center">
                {{data.monocyties}}</th>
              <th style="text-align: center">%</th>
              <th style="text-align: center">4-8</th>
            </tr>
            <tr>
              <th>EOSINOPHILS </th>
              <th style="text-align: center">
                {{data.eosinophils}}</th>
              <th style="text-align: center">%</th>
              <th style="text-align: center">1-3</th>
            </tr>
            <tr>
              <th>BASOPHILS </th>
              <th style="text-align: center">
                {{data.basophils}}</th>
              <th style="text-align: center">%</th>
              <th style="text-align: center">0-1</th>
            </tr>
            <tr>
              <th>TOTAL </th>
              <th style="text-align: center">
                {{total data}}</th>
              <th style="text-align: center">%</th>
              <th></th>
            </tr>
            <tr>
              <th rowspan="6" style="vertical-align: text-top;">REMARKS
                <br />
                <p style="text-align: center;">{{data.remarks}}</p>
              </th>
              <th colspan="1">MCV</th>
              <th colspan="2" style="text-align: center;">MEAN CORPUSCULAR
                VOLUME</th>
            </tr>
            <tr>
              <th colspan="1">MCH</th>
              <th colspan="2" style="text-align: center;">MEAN CORPUSCULAR
                HEMOGLOBIN</th>
            </tr>
            <tr>
              <th colspan="1">MCHC</th>
              <th colspan="2" style="text-align: center;">MEAN CORPUSCULAR
                HEMOGLOBIN CONCENTRATION</th>
            </tr>
            <tr>
              <th colspan="1">RDW-CV</th>
              <th colspan="2" style="text-align: center;">RED BLOOD CELL
                DISTRIBUTION WIDTH (CV)</th>
            </tr>
            <tr>
              <th colspan="1">MPV</th>
              <th colspan="2" style="text-align: center;">MEAN PLATELET VOLUME</th>
            </tr>
            <tr>
              <th colspan="1">PDW</th>
              <th colspan="2" style="text-align: center;">PLATELET DISTRIBUTION
                WIDTH</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </body>
</html>